body {
    max-width: 1440px;
    box-sizing: border-box;
    background: #ffffff;
    color: #16133D;
    Font-family: Roboto;
    margin: 0 auto;
}

a:focus {
    outline: none;
}

.header {
    border-bottom: 1px solid #EFEEF3;
}

.container {
    width: 1170px;
    margin: 0 auto;

    .header__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        height: 80px;

        .logo__icon {
            width: 30px;
            height: 30px;
        }

        .logo__link {
            font-family: 'Quicksand';
            font-size: 35px;
            line-height: 35px;
            color: #16133D;
            text-decoration: none;
        }
    }
}

// main-section

.main__content {
    width: 1170px;
    margin: 100px auto;
}

.title {
    display: inline-block;

    .text {
        color: #7690A8;
        Font-family: Roboto;
        font-weight: 400;
        Font-size: 16px;
        Line-height: 21px;
    }

    .title__item {
        color: #16133D;
        Font-family: Nunito Sans;
        Font-size: 40px;
        Line-height: 52px;
        Letter-spacing: 0.2px;
        margin-top: 15px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.section {
    width: 33%;
    height: 340px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;

    &:not(:first-child) {
        margin-left: 30px;
    }

    &:hover {
        border: 1px solid #3DB370;
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
    }

    &:hover .section__icon {
        border: 1px solid #3DB3701A;
    }

    &:hover .blue {
        display: none;
    }

    &:hover .green {
        display: flex;
    }
}

.content {
    max-width: 290px;
    margin: 40px;

    .section__icon {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(21, 101, 216, 0.1);
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .inner__link {
        Font-family: Roboto;
        font-weight: 700;
        Font-size: 16px;
        Line-height: 19px;
        color: #3DB370;
        text-decoration: none;
    }
}

.green {
    display: none;
}

.inner {
    margin: 30px auto;

    .inner__title {
        font-family: Roboto;
        Font-size: 24px;
        Line-height: 21.28px;
        Letter-spacing: 0.2px;
    }

    .inner__text {
        Font-family: Roboto;
        font-weight: 400;
        Font-size: 16px;
        Line-height: 28px;
        color: #16133D;
        margin-top: 15px;
    }
}

// footer

.footer {
    background: #16133D;
    height: 193px;

    .footer__container {
        width: 1170px;
        height: 113px;
        margin: auto;
        padding: 40px 0;
    }
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    .footer__logo-link {
        font-family: 'Quicksand';
        font-size: 35px;
        line-height: 35px;
        color: #ffffff;
        text-decoration: none;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-top: 40px;

    .social__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background: #EFEEF3;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        .icon {
            width: 100%;
            height: 20px;
            color:#0D0D0D;
        }

        &:hover .icon {
            color:#3DB370;
        }
    }
}

.instagram {
    width: 20px;
    height: 20px;
}

.facebook {
    width: 10px;
    height: 19px;
}

.github {
    width: 20px;
    height: 19.5px;
}

.dribble {
    width: 19.3px;
    height: 19.3px;
}

.twitter {
    width: 20px;
    height: 16px;
}